/*                KEY POSITIONS

  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
  │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
  ╰───────────╮ 30  31 │ │ 32  33 ╭───────────╯
              ╰────────╯ ╰────────╯            */

compatible = "zmk,combos";

#define COMBO(NAME, BINDINGS, KEYPOS, TIMEOUT, LAYERS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
    timeout-ms = <TIMEOUT>; \
  };

/* Brackets */
COMBO(lbrk, &kp LBKT, 6 7, 30, _BASE _NAVI)
COMBO(rbrk, &kp RBKT, 7 8, 30, _BASE _NAVI)
COMBO(lpar, &kp LPAR, 16 17, 30, _BASE _NAVI)
COMBO(rpar, &kp RPAR, 17 18, 30, _BASE _NAVI)
COMBO(lbrace, &kp LBRC, 31 16 17, 30, _BASE _NAVI)
COMBO(rbrace, &kp RBRC, 31 17 18, 30, _BASE _NAVI)
COMBO(lang, &kp LT, 26 27, 30, _BASE _NAVI)
COMBO(rang, &kp GT, 27 28, 30, _BASE _NAVI)

/* Editing */
COMBO(hme, &kp HOME, 15 16, 30, _BASE _NAVI)
COMBO(end, &kp END, 5 6, 30, _BASE _NAVI)
COMBO(chme, &kp LC(HOME), 2 3 4, 40, _BASE _NAVI)
COMBO(cend, &kp LC(END), 5 6 7, 40, _BASE _NAVI)
COMBO(esc, &kp ESC, 12 13, 30, _BASE _NAVI)
COMBO(tab, &kp TAB, 11 12, 30, _BASE _NAVI)
COMBO(stab, &kp LS(TAB), 1 2, 30, _BASE _NAVI)
COMBO(copy, &kp LG(C), 3 13, 30, _BASE _NAVI)
COMBO(paste, &kp LG(V), 4 14, 30, _BASE _NAVI)
COMBO(cut, &kp LG(X), 13 23, 30, _BASE _NAVI)
COMBO(selectall, &kp LG(A), 14 24, 30, _BASE _NAVI)
COMBO(undo, &kp LG(Z), 13 14, 30, _BASE _NAVI)
COMBO(redo, &kp LG(Y), 23 24, 30, _BASE _NAVI)
COMBO(enter, &kp ENTER, 18 19, 30, _BASE _NAVI)


/* Symbols */
COMBO(grav, &kp GRAVE, 0 10, 30, _BASE _NAVI)
COMBO(tild, &kp TILDE, 10 20, 30, _BASE _NAVI)
COMBO(mins, &kp MINUS, 1 11, 30, _BASE _NAVI)
COMBO(unds, &kp UNDER, 11 21, 30, _BASE _NAVI)
COMBO(eqal, &kp EQUAL, 2 12, 30, _BASE _NAVI)
COMBO(plus, &kp PLUS, 12 22, 30, _BASE _NAVI)
COMBO(bsls, &kp AMPS, 9 19, 30, _BASE _NAVI)
COMBO(pipe, &kp PIPE, 19 29, 30, _BASE _NAVI)
COMBO(doll, &kp DOLLAR, 8 18, 30, _BASE _NAVI)
COMBO(at, &kp AT, 18 28, 30, _BASE _NAVI)
COMBO(scln, &kp SEMI, 17 27, 30, _BASE _NAVI)
COMBO(coln, &kp COLON, 7 17, 30, _BASE _NAVI)
COMBO(percent, &kp PERCENT, 5 15, 30, _BASE _NAVI)
COMBO(asterisk, &kp ASTERISK, 15 25, 30, _BASE _NAVI)


/* System */
COMBO(login, &kp LC(LG(Q)), 0 10 20, 50, _BASE _NAVI)
